<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SalesAndForecasting"
		connectionString = "Server=LAPTOP-D01LT47H\SQLEXPRESS01;Database=SalesAnalyseAndForecast;Trusted_Connection=True;MultipleActiveResultSets=true"
		providerName     = "SqlServer" />
	</connectionStrings>
</configuration>
 