<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/logiPageStyles.css">
    <title></title>
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <ul class="nav__list">
                <li></li>
                <li></li>  
                <li><a id='aboutButton' class="nav__list__item">About</a></li>  
            </ul>
        </nav>
        

        <div class="header-content">
            <p class="header-content__text">
                Analyse and Forecastring System
            </p>
        </div>

        <form id="loginForm" class="decor">
            <div class="form-inner">
                <input id="login" type="text" placeholder="Login">
                <input id="password" type="text" placeholder="Password">
                <input id="LoginButton" type="submit" value="Login">
            </div>
        </form>

    </header>
</body>

<script src="scripts/loginUser.js"></script>

</html>