<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/mainPageStyles.css">
    <title></title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="#" class="mainmenubutton"></a>
        <a href="#" class="graphicsButton"></a>
        <a href="#" class="productsButton"></a>
    </div>
    <div class="mainFrame">
      <div class="headerLine">
        <div class="headerLine__text">
          <p>Analyse and Forecast System</p>
        </div>
      </div>
    </div>
    <div class="mainFrame_background">
    </div>
</body>

</html>