*{
    margin: 0px;
}

.header{
    background-image: url('img/loginpageBackground.jpg');
}

.nav__list{
	padding-top:40px ;
	padding-bottom: 40px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nav__list__item{
    background-color: #D9D9D9;
    mix-blend-mode: multiply;
	color: #ffffff;
	font-family: 'Fredoka', sans-serif;
	font-size: 30px;
	padding: 7px 90px;
	border-radius: 30px;
	text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav__list__item:hover{
	background-color: #8b8b8b;
	color: rgb(0, 0, 0);
    mix-blend-mode: hard-light;
}
