*{
    margin: 0px;
}

.sidenav {
	height: 100%;
	width: 80;
	position: fixed;
	z-index: 1;
	top: 0; 
	left: 0;
	background-color: #CD4318;
	overflow-x: hidden;
	transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
	margin: 10px;
	width: 120px;
	height: 120px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;

  }
  .mainmenubutton {
	background-image: url("img/MainMenuButton.png");
	background-repeat: no-repeat;
  }

  .graphicsButton {
	background-image: url("img/GraphicsGutton.png");
	background-repeat: no-repeat;
  }
  .graphicsButton:hover {
	background-image: url("img/GraphicsButtonHover.png");
	background-repeat: no-repeat;
  }